In [4]:
import pandas as pd
import numpy as np
import scipy as sc

In [8]:
df = pd.DataFrame({'B': [0, 1, 2, np.nan, 4]})
df

     B
0  0.0
1  1.0
2  2.0
3  NaN
4  4.0

In [23]:
df.rolling(3, min_periods=(1), center=True).sum()

     B
0  1.0
1  3.0
2  3.0
3  6.0
4  4.0

In [44]:
feature_columns = ['city', 'reanalysis_specific_humidity_g_per_kg',
                'reanalysis_dew_point_temp_k',
                'station_avg_temp_c', 'precipitation_amt_mm', 'ndvi_ne', 'ndvi_nw', 'ndvi_se','ndvi_sw', 'weekofyear']

#ndvi = density of green
#precipitation = rain amount

df = pd.read_csv('dengue_features_train.csv', usecols=feature_columns)

In [46]:
df['station_avg_temp_c'] = df['station_avg_temp_c'].rolling(window=3, center= True, min_periods=(1)).mean()
df['precipitation_amt_mm'] = df['precipitation_amt_mm'].rolling(window=3, center= True, min_periods=(1)).median()
# df = df.fillna(df.mean())
df['ndvi_ne']=df['ndvi_ne'].fillna(df['ndvi_nw'])
df['ndvi_nw']=df['ndvi_nw'].fillna(df['ndvi_se'])
df['ndvi_se']=df['ndvi_se'].fillna(df['ndvi_sw'])
df['ndvi_sw']=df['ndvi_sw'].fillna(df['ndvi_ne'])
df = df.fillna(df.mean())

,city,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_dew_point_temp_k,reanalysis_specific_humidity_g_per_kg,station_avg_temp_c
0,sj,18,0.122600,0.103725,0.198483,0.177617,17.62,292.414286,14.012857,26.078571
1,sj,19,0.169900,0.142175,0.162357,0.155486,22.82,293.951429,15.372857,26.290476
2,sj,20,0.032250,0.172967,0.157200,0.170843,22.82,295.434286,16.848571,26.966667
3,sj,21,0.128633,0.245067,0.227557,0.235886,15.36,295.310000,16.672857,27.709524
4,sj,22,0.196200,0.262200,0.251200,0.247340,9.58,295.821429,17.210000,28.176190
5,sj,23,0.174850,0.174850,0.254314,0.181743,7.52,295.851429,17.212857,28.157143
6,sj,24,0.112900,0.092800,0.205071,0.210271,9.58,295.865714,17.234286,27.966667
7,sj,25,0.072500,0.072500,0.151471,0.133029,19.32,296.531429,17.977143,28.038095
8,sj,26,0.102450,0.146175,0.125571,0.123600,19.32,296.378571,17.790000,28.342857
9,sj,27,0.121550,0.121550,0.160683,0.202567,19.32,296.651429,18.071429,28.071429
10,sj,28,0.192875,0.082350,0.191943,0.152929,22.27,296.041429,17.418571,28.004762
11,sj,29,0.291600,0.211800,0.301200,0.280667,22.27,296.334286,17.737143,27.933333
12,sj,30,0.150567,0.171700,0.226900,0.214557,32.66,295.960000,17.341429,28.161905
13,sj,31,0.247150,0.247150,0.379700,0.381357,28.80,296.172857,17.594286,28.185714
14,sj,32,0.064333,0.064333,0.164443,0.138857,32.66,296.532857,17.950000,28.161905
15,sj,33,0.128033,0.128033,0.206957,0.168243,32.40,297.035714,18.515714,28.195238
16,sj,34,0.190233,0.168800,0.167657,0.172286,40.94,296.728571,18.174286,28.347619
17,sj,35,0.252900,0.330750,0.264171,0.284314,32.40,297.017143,18.515714,28.442857
18,sj,36,0.235400,0.200025,0.283817,0.230443,40.94,296.117143,17.560000,28.557143
19,sj,37,0.127967,0.437100,0.123400,0.148283,64.56,297.192857,18.777143,28.419048
20,sj,38,0.196350,0.182433,0.254829,0.305686,64.56,296.431429,17.892857,28.423810
21,sj,39,0.116100,0.260900,0.199443,0.244217,51.39,296.028571,17.468571,28.452381
22,sj,40,0.228550,0.189750,0.212486,0.201186,51.39,296.664286,18.180000,28.580952
23,sj,41,0.171150,0.067550,0.179467,0.157717,51.42,296.928571,18.512857,28.342857
24,sj,42,0.070200,0.070200,0.181617,0.165750,127.03,296.544286,18.115714,27.676190
25,sj,43,0.146200,0.089750,0.128829,0.123929,127.03,296.257143,17.750000,27.457143
26,sj,44,0.252250,0.183433,0.318000,0.295900,101.35,296.534286,18.034286,27.738095
27,sj,45,0.152600,0.181775,0.178329,0.186629,20.46,296.564286,18.074286,27.995238
28,sj,46,0.290800,0.224600,0.180386,0.234886,20.04,295.687143,17.085714,27.604762
29,sj,47,0.272200,0.330350,0.131633,0.125383,20.04,295.375714,16.752857,26.847619

In [33]:
# df['week_start_date'] = pd.to_datetime(df['week_start_date'])
# df['week_start_date'] = df['week_start_date'].dt.week

In [47]:
m = {'sj': 0, 'iq': 1}
df['city'] = df['city'].map(m)

In [52]:
df.head(10)

,city,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_dew_point_temp_k,reanalysis_specific_humidity_g_per_kg,station_avg_temp_c
0,0,18,0.122600,0.103725,0.198483,0.177617,17.62,292.414286,14.012857,26.078571
1,0,19,0.169900,0.142175,0.162357,0.155486,22.82,293.951429,15.372857,26.290476
2,0,20,0.032250,0.172967,0.157200,0.170843,22.82,295.434286,16.848571,26.966667
3,0,21,0.128633,0.245067,0.227557,0.235886,15.36,295.310000,16.672857,27.709524
4,0,22,0.196200,0.262200,0.251200,0.247340,9.58,295.821429,17.210000,28.176190
5,0,23,0.174850,0.174850,0.254314,0.181743,7.52,295.851429,17.212857,28.157143
6,0,24,0.112900,0.092800,0.205071,0.210271,9.58,295.865714,17.234286,27.966667
7,0,25,0.072500,0.072500,0.151471,0.133029,19.32,296.531429,17.977143,28.038095
8,0,26,0.102450,0.146175,0.125571,0.123600,19.32,296.378571,17.790000,28.342857
9,0,27,0.121550,0.121550,0.160683,0.202567,19.32,296.651429,18.071429,28.071429

In [54]:
label_columns = ['total_cases']
labels = pd.read_csv('dengue_labels_train.csv', usecols=label_columns)

In [55]:
labels.head(5)

   total_cases
0            4
1            5
2            4
3            3
4            6

In [57]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=1000, max_features='auto',
                                 max_depth=10, min_samples_leaf=0.005,
                                 criterion='mae', min_weight_fraction_leaf=0.1
                                , warm_start=True)

In [58]:
model.fit(df, labels)

/home/eranga/.local/lib/python3.5/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestRegressor(bootstrap=True, criterion='mae', max_depth=10,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=0.005, min_samples_split=2,
           min_weight_fraction_leaf=0.1, n_estimators=1000, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=True)

In [59]:
test_features = pd.read_csv('dengue_features_test.csv', usecols=feature_columns)

In [61]:
test_features['station_avg_temp_c'] = test_features['station_avg_temp_c'].rolling(window=3, center= True, min_periods=(1)).mean()
test_features['precipitation_amt_mm'] = test_features['precipitation_amt_mm'].rolling(window=3, center= True, min_periods=(1)).median()
# df = df.fillna(df.mean())
test_features['ndvi_ne']=test_features['ndvi_ne'].fillna(test_features['ndvi_nw'])
test_features['ndvi_nw']=test_features['ndvi_nw'].fillna(test_features['ndvi_se'])
test_features['ndvi_se']=test_features['ndvi_se'].fillna(test_features['ndvi_sw'])
test_features['ndvi_sw']=test_features['ndvi_sw'].fillna(test_features['ndvi_ne'])
test_features = test_features.fillna(test_features.mean())
m = {'sj': 0, 'iq': 1}
test_features['city'] = test_features['city'].map(m)

In [66]:
predictions = lm.predict(X)
predictions = model.predict(test_features).astype(int)

In [68]:
import numpy
numpy.savetxt("foo.csv", predictions, delimiter=",")

In [69]:
predictions

array([ 8,  8,  8, 10, 11,  9, 13, 14, 15, 15, 14, 15, 16, 16, 23, 32, 38,
       40, 31, 42, 42, 41, 41, 41, 40, 37, 36, 28, 36, 28, 35, 38, 35, 28,
       28, 19, 18, 18, 18, 18, 18, 19, 18, 18, 12,  8,  8,  8,  8,  8,  8,
        8,  8,  8,  8,  8,  9, 10, 11, 15, 14, 15, 15, 15, 16, 18, 23, 26,
       28, 29, 30, 38, 38, 38, 31, 32, 40, 30, 30, 30, 31, 30, 39, 38, 28,
       38, 28, 38, 19, 18, 19, 19, 19, 19, 18, 18, 18, 12,  8,  8,  8,  8,
        8,  8,  9, 10, 10, 10, 14, 15, 14, 15, 12, 13, 15, 15, 15, 16, 16,
       23, 25, 39, 39, 42, 31, 38, 39, 40, 42, 40, 30, 39, 30, 39, 28, 28,
       38, 28, 28, 38, 18, 18, 18, 18, 18, 18, 18, 18, 17, 12,  8,  8,  8,
        8,  8,  8,  8,  8,  8,  8,  9,  9,  9,  9, 15, 15, 15, 11, 15, 14,
       17, 30, 34, 39, 31, 37, 40, 31, 41, 42, 30, 29, 28, 29, 37, 29, 28,
       28, 28, 38, 29, 38, 19, 18, 18, 19, 18, 18, 18, 18, 17, 12,  8,  8,
        8,  8,  8,  8,  8,  8,  8,  9,  9, 13, 15, 15, 15, 15, 15, 15, 15,
       15, 16, 29, 26, 30, 30, 37, 39, 30, 30, 40, 39, 38, 38, 30, 40, 37,
       30, 28, 28, 28, 28, 18, 18, 18, 18, 19, 18, 19, 18, 17, 12,  8,  8,
        8,  8,  8,  8,  8,  4,  2,  7,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  6,  7,  7,  7,  7,  7,  7,  7,  7,  2,  3,  2,  5,
        4,  2,  3,  7,  7,  7,  7,  7,  6,  7,  7,  7,  6,  6,  7,  7,  2,
        2,  4,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  3,  2,  7,  7,  7,  5,  7,  7,  7,  7,  7,  7,  7,  7,  6,
        7,  4,  2,  7,  7,  4,  2,  2,  6,  2,  2,  7,  4,  7,  7,  7,  7,
        2,  6,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  6,  3,  7,  7,  6,  7,  7,  7,  7,  7,  7,  7,
        2,  2,  7,  4,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  2,
        7,  7,  3,  2,  3,  2,  2,  2])